*.pyc
.vscode
__pycache__
bin
build
demo.sh
demo.sh.tmp
dist
dxtools.conf
dxtools.conf.develop
include
lib
mskpkg/*.pyc
mskpkg/__pycache__
mskpkg/output
mskaiagnt.spec
mskaiagnt_workflow.pptx
mskaiagntwsl.code-workspace
output
output/demobackup
share
test_connector.sh
update_demo_engines.py
update_demo_jobexeclist.py
update_dxtools_conf.py
extra
lib64
pyvenv.cfg
*.tmp
*.unsaved
.idea
scripts
pip-selfcheck.json
venv
mskpkg/__pycache__
.DS_Store
*.DS_Store
msksidekick.spec
msksidekick_workflow.pptx
msksidekick.code-workspace
msksidekick.spec
compiled
docker_dummy_tail.sh
ol7.Dockerfile
ubuntu.Dockerfile
win.Dockerfile
id_rsa
github.config
git-install.inf
compile_win.ps1
compile_unix.sh
jenkins.groovy
build_docker_containers.sh
Instructions.txt.demo
dxtools.conf.good
