altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
click==8.0.3
docutils==0.16
idna==2.10
macholib==1.14
psutil==5.8.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
requests==2.25.1
statistics==1.0.3.5
termcolor==1.1.0
colorama~=0.4.4
setuptools~=53.0.0
urllib3==1.26.4
